:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body * + * {
  margin-top: 1.25rem;
}

body {
  font-family: "Circular Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.0625rem;
  line-height: 1.42857;
  color: #5e5e5e;
  background-color: #f4f4f4;
}
.container {
  width: 1024px;
  margin: 0 auto;
  padding: 80px 120px 60px 120px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin: 0 auto;
}

.container > h3 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.0625rem;
  color: #53ba85;
}

.form-group > input:not([type="checkbox"]):not([type="radio"]) {
  display: block;
  width: 100%;
  margin-top: 0;
  padding: 0.9375rem 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.primary {
  padding: 0.8125rem;
  background-color: #53ba85;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 120px;
}
.forgot {
  display: flex;
  width: 100%;
}

#remember-me {
  flex: 51%;
}
#forgot-password {
  margin: 0;
}
#forgot-password > a {
  text-decoration: none;
  color: #53ba85;
  font-size: 0.9375rem;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.login-signup a {
  margin: 1.25rem 5rem;
  font-size: 1.125rem;
  color: #53ba85;
  font-weight: bold;
}

/*---Media Queries --*/


@media (max-width: 1100px) and (min-width: 960px) {
  .container {
    padding: 80px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 20px 15px !important;
  }
  .form{
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .login-form {
    width: 100%;
  }
}

