.container{
    width: 1024px;
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.form-group{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
}
#user-type-group{
    display: flex;
    margin: 0 auto;
}
#user-type-group label{
    padding-right: 20px;

}

button.primary{
        padding: 13px;
        background-color: #4f81b5;
        color: white;
        border-radius: 10px;
        cursor: pointer;
}
.hide{
    display: none;
}